@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');
body {
    font-family: 'Ropa Sans', sans-serif';
}
.styles {
    opacity: 0.5;
}
#primeira {
    opacity: 1;
}