@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');
body {
    font-family: 'Ropa Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #777777;
    width: 728px;
}

body > header{
    padding: 8px 44px;
    font-size: 18px;
    line-height: 20px;
    box-shadow: 1px 1px 1px grey;
}
header > * {
    display: inline-block;
    margin: 0;
}
body > header > img {
    float: right;
    margin-top: 16px;
}
#banner {
    margin: 13px 55px;

}
#sales {
    margin: 10pc 44px;
}
#sales > article {
    display: inline-block;
    width: 40%;
}
#sales > article #right-sale {
    float: right;
}
#sales article > footer {
    padding: 12px;
    background-color: #EEEEEE;
}
#sales span {
    font-size: 25px;
    line-height: 27px;
    position: justify;
    width: 56px;
    height: 21px;
    background-color: burlywood;
    border-radius: 10.5px;
}
#your-style img {
    opacity: 0.6;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFF;
    text-shadow: 2px 2px 5px black rgba(0, 0, 0)
}